<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/css/<%= sheet %>">
  </head>
  
  <body>
      <div class="container">
        <form action="/user-by-act/lookup" method="POST" class="form">
          <div class="input-group">
            <input name="user" placeholder="Username" class="input-field">
            <input name="tag" placeholder="Tag Line" class="input-field">
            <select name="act" class="input-field">
              <% for (ep in episodes){ if (ep<(episodes.length - 1)){ for (a in episodes[ep]['acts'].reverse()){ %>
                <option value="<%= episodes[ep]['acts'][a]['id'] %>"><%= episodes[ep]['name'] %> <%= episodes[ep]['acts'][a]['name'] %><% if (a == 0 && ep == 0){ %> (current)<% } %></option>
                <% }}else{ %>
                  <option value="<%= episodes[ep]['id'] %>"><%= episodes[ep]['name'] %></option>
                <% }} %>
            </select>
          </div>
          <% if (failed){ %>
            <p id="not-found">User not found</p>
            <% } %>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
    </body>